<div class="container">
        
                        
    <table class="table">
            <thead>
              <tr>
                <th scope="col"><h3>Repository Details</h3></th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Repository name : {{repoInfo?.repositoryName}} </td>
                    
                </tr>
                <tr>
                    <td>Created At : {{repoInfo?.createdAt}} </td>
                   
                </tr>
                <tr>
                    <td>Repository State: 
                        <p *ngIf="repo?.publicR"> State: Public </p>
                        <p *ngIf="!repo?.publicR"> State: Private </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button (click)="modifyRepo()" class="btn btn-primary">Modify Repository</button>
                        
                    </td>
                </tr>
            </tbody>
          </table>

          <form *ngIf="appear">
                <div class="card">
                    <div class="form-group" class="card-body">
                        <div>
                            <label for="filename">New name: </label>
                            <input type="text" required #n name="filename" />
                        </div>
                    </div>
                    <button (click)="sendNewNameRepo(n.value)" class="btn btn-primary">Save repository Name</button>
                </div>
            </form>
            
            <form *ngIf="appearFormFolder">
                    <div class="card">
                        <div class="form-group" class="card-body">
                            <div>
                                <label for="filename">New name: </label>
                                <input type="text" required #n name="filename" />
                            </div>
                        </div>
                        <button (click)="sendNewNameFolder(n.value)" class="btn btn-primary">Save Folder Name</button>
                    </div>
                </form>

<div class="row" *ngIf="fileExist">
    <div class="row">
        <div class="col-16">
            <div class="card">
                <div class="card-body">
                    File: {{file.originalName}} <br>
                    Version n. : 
                   
                    <select [(ngModel)]="vers" (change)="selected()"> 
                      <!--   <option disabled>Select a version...</option> -->
                        <option  [ngValue]="v" *ngFor="let v of finalVersion; index as i">{{v}}</option>
                    </select>
                   
                    
                <br>

                    Created At: {{file.createdAt}} <br>
                    <button   (click)="modifyFile()" class="btn btn-primary" style="margin-right:5px;">Modify file</button>
                    <!-- <button  (click)="deleteFile()"  class="btn btn-primary">Delete File</button>  -->
                    <button  (click)="newVersion()" class="btn btn-primary">Create new version</button>
                   
                    <div><button (click)="deleteVersion()" class="btn btn-primary" style="margin-right:5px;">Delete Version {{vers}}</button>
                    </div>
                    
                 <form *ngIf="appearRenameFile">
                        <div class="card">
                            <div class="form-group" class="card-body">
                                <div>
                                    <label for="filename">New name: </label>
                                    <input type="text" required #n name="filename" />
                                </div>
                            </div>
                            <button (click)="sendNewFileName(n.value)" class="btn btn-primary">Save file</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="card" *ngIf="isLogged" >
                    <div class="card-body">
                        Move to...<select> 
                                <option disabled>Select a folder..</option>
                              <option>{{repo?.repositoryName}}</option>
                            <option *ngFor="let v of folders; index as i">{{v?.folderName}}</option>
                        </select> <br>
                    </div>
                </div>

        </div>
    </div>
</div>

<div class="row" *ngIf="!fileExist && isLogged">
    <div class="col-10">

        <button (click)="createFile()" class="btn btn-primary">Create File</button>
        <form *ngIf="fileAppear">
            <div class="card">
                <div class="form-group" class="card-body">
                    <div>
                        <label for="filename">File name</label>
                        <input type="text" required #n name="filename" />
                    </div>
                </div>
                <button (click)="saveFile(n.value)" class="btn btn-primary">Save File</button>
            </div>
        </form>

    </div>
</div>
<button (click)="back()" class="btn btn-primary">Back</button>



<div *ngIf="isLogged">


         Caricamento di un file

<div class="form-group" *ngIf="isLogged" >
    <label for="file">Choose File</label>
    <input type="file"
           id="file" #f
           (change)="handleFileInput($event.target.files)">
           <button  (click)="uploadFileToActivity()"  class="btn btn-primary">Carica File</button>
</div> 




    <!-- </div>Lista file pubblici
<table >
<thead>
  <tr>
    <th *ngFor="let head of headElements" scope="col">{{head}} </th>
  </tr>
</thead>
<tbody>
  <tr  *ngFor="let el of elements">
    <th scope="row">{{el.id}}</th>
    <td>{{el.first}}</td>
    <td>{{el.last}}</td>
    <td>{{el.handle}}</td>
  </tr>
</tbody>
</table>
</div> -->

    <!-- 
<div>Lista file privati

</div> -->
</div>
</div>

