<div class="container">


    <div *ngIf="isLogged">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div id = "welcomeCard" class="card-body">
                       Welcome {{localUser?.name}} {{localUser?.surname}}! <br><br>
                        This is the list of all your repository . You can click on them to see what's inside!
                    </div>
                </div>
            </div>
        </div>
<div class="row">
    <div class="col-4">
            <button (click)="verification()" class="btn btn-primary" type="button" data-toggle="modal" data-target="#myModal"> + Create
                    a new Repository</button>

    </div>
    <div *ngIf="!ok" class="col-4 " style="height:35px;margin-top:1.3%"><div></div></div>
    <div *ngIf="ok" class="alert alert-success alert-dismissible col-4" style="height:35px" id="myAlert">
           <div  class="message"><strong>{{message}}</strong></div>  </div>

</div>

            <br>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Create e a new repository</h4>
                    </div>
                    <form [formGroup]="modifyNameRepoForm" (ngSubmit)="save(nameRepo.value)">
                    <div class="modal-body">

                        <label for="reponame" style="color:black">Repository Name</label><br>
                        <input type="text" class="form-control" placeholder="Insert repository name here..." formControlName="reponame" [(ngModel)]="reset"
                            maxlength="13" required id="nameRepo" [ngClass]="{ 'is-invalid': submitted && f.reponame.errors }"
                            #nameRepo name="nameRepo" />

                        <br>

                        <div *ngIf="submitted && f.reponame.errors" class="invalid-feedback">

                            <div *ngIf="f.reponame.errors.required">Name is Required</div>
                        </div>

                        <br>
                            <div  name="state">

                                <label style="color:black" for="state">State of the Repository</label>
                                <br>
                            <div  class=" row">
                                <div class="col-6">
                                <input type="radio" name="statep" id="state" value="public" checked>
                                <svg height="30" class="octicon octicon-repo" viewBox="0 0 12 16" version="1.1" width="22" aria-hidden="true"><path fill-rule="evenodd" d="M4 9H3V8h1v1zm0-3H3v1h1V6zm0-2H3v1h1V4zm0-2H3v1h1V2zm8-1v12c0 .55-.45 1-1 1H6v2l-1.5-1.5L3 16v-2H1c-.55 0-1-.45-1-1V1c0-.55.45-1 1-1h10c.55 0 1 .45 1 1zm-1 10H1v2h2v-1h3v1h5v-2zm0-10H2v9h9V1z"></path></svg>
                               <b>Public</b>
                               <br>
                               <a style="font-size:smaller;margin-left:8%">Anyone can see this repository.</a>
                            </div>

                            <div class="col-6">
                                <input type="radio" name="statep" id="state" value="private">
                                <svg height="30" class="octicon octicon-lock" viewBox="0 0 12 16" version="1.1" width="24" aria-hidden="true"><path fill-rule="evenodd" d="M4 13H3v-1h1v1zm8-6v7c0 .55-.45 1-1 1H1c-.55 0-1-.45-1-1V7c0-.55.45-1 1-1h1V4c0-2.2 1.8-4 4-4s4 1.8 4 4v2h1c.55 0 1 .45 1 1zM3.8 6h4.41V4c0-1.22-.98-2.2-2.2-2.2-1.22 0-2.2.98-2.2 2.2v2H3.8zM11 7H2v7h9V7zM4 8H3v1h1V8zm0 2H3v1h1v-1z"></path></svg>
                               <b>Private</b> <br>
                                <a style="font-size:smaller;margin-left:8%">Only you can see this repository.</a>
                            </div>
                            </div>
                            <br>
                    </div>
                </div>
                        <div class="modal-footer">
                            <button  style="margin-right:10px;" class="btn btn-primary">Save</button>
                            <button type="button" class="btn btn-danger" #closeModal data-dismiss="modal">Close</button>
                        </div>
                        </form>
                </div>
            </div>
        </div>
        <hr>
    </div>




















    <div class="row" *ngIf="repoExist==false">
        <div  class="alert alert-danger alert-dismissible" style="margin-top:10%;margin-left:10%">
            <h3>There aren't repositories<br> Create one Repository clicking on Create new Repository Button!</h3>
        </div>
    </div>

    <!-- <div class="row" *ngIf="repoExist">
    </div> -->
    <div class="row">
        <div class="card2 col-2 display" *ngFor="let repo of repos; let i=index;" (click)="sendTo(repo)" [routerLink]="['/repositoryID',repo?.id]">
            <h4 class="card2Write" style="cursor:pointer;">
                <b>{{repo?.repositoryName}}</b> </h4>
        </div>

    </div>

<div>
    <div *ngIf="!isLogged">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        Registrati per entrare a far parte della community VuGit! <br>
                        Se sei registrato effettua il login!
                    </div>
                </div>
            </div>
        </div>
        <div>

        </div>

    </div>
</div>
</div>
