
<div class="container">
        <div class="row central">
                <select id="select" class="col-2 select1" (onchange)="selected()">
                    <option selected value="name">Name</option>
                    <option value="date">Date</option>
                </select>
        
                <input type="text" [(ngModel)]="search" id="search" name="search" (input)="Search()" placeholder="Search..">
            </div>
            <br>



    <div class="row">

      <div  style="height: 40%;">
            <button class="btn btn-default numero1" (click)="sendToRepo()"><h4>My repositories</h4> </button> 
      </div>
          <div>
           <i class='fas fa-greater-than' style="margin-top:100%;margin-left: 25%"></i>
        </div>
            <div class=" dropdown dropdown-toggle " style="height: 30%;margin-left:2%">
                <a class="btn btn-default numero1  " role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <h4>{{repoInfo?.repositoryName}}</h4> 
                </a>

                <div class="dropdown-menu " aria-labelledby="dropdownMenuLink">

                    <div *ngIf="isLogged">

                        <div data-target="#myModalRepoModify" data-toggle="modal">
                            <a class="dropdown-item bianco menus">Modify Repository </a>
                        </div>

                        <div data-toggle="modal" data-target="#myModalFolder">
                            <a class="dropdown-item bianco menus">Create Folder </a>
                        </div>

                       <!--  <div data-toggle="modal" data-target="#myModalFile"> -->
                           <div (click)="saveFile()">
                            <a class="dropdown-item bianco menus">Create File </a>
                        </div>

                        <div data-toggle="modal" data-target="#myModalShareRepo"> 
                            <a class="dropdown-item bianco menus">Share Repo</a>
                        </div>

                        <div>
                            <a class="dropdown-item bianco menus">
                                <label for="file">Import File
                                    <input type="file" id="file" #f (change)="handleFileInput($event.target.files)">
                                </label>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-7"></div>
    
<div class="col-2;">

        <div  data-toggle="modal" data-target="#info">   
         <button style="background-color: transparent;border:transparent;left:30px;position : relative;" (click)="info=true">
                <i style="font-size:24px;" class="fa">&#xf05a;</i>
         </button> 
        </div>  
        </div>
        
    </div>

<!-- Modal modifica repository -->
            <div class="modal fade" id="myModalRepoModify" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Modify repository</h4>
                        </div>

                        <div class="modal-body">

                            <div>
                                <label for="reponame"><b>Repository name</b> </label><br>
                                <input type="text" maxlength="13" required id="namerepo" [(ngModel)]="reset" #n name="namerepo" />
                            </div>
                            <br>
                            <!--  <div *ngIf="ok" class="alert alert-success alert-dismissible" id="myAlert">
                                <strong>{{message}}</strong> 
                            </div> -->
                        </div>
                        <div class="modal-footer">
                            <button (click)="sendNewName(n.value)" style="margin-right:10px;" class="btn btn-primary col-4">Save
                                Repository </button>
                            <button type="button" class="btn btn-danger" #closeModalModifyRepo data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
    <hr>

    <div>
            <div *ngIf="ok" class="alert alert-success  col-5 alert-dismissible" style="position: center;"  id="top" #myAlertImport>
                <strong>{{message}}</strong>
            </div>
        
            <div *ngIf="ok2" class="alert alert-danger col-5 alert-dismissible"    id="top" #myAlertImport>
                <strong>{{message}}</strong>
            </div>
        
        </div>


    <!-- Modal creazione folder -->
    <div class="modal fade" id="myModalFolder" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create a new Folder</h4>
                </div>

                <div class="modal-body">

                    <div>
                        <label for="reponame"><b>Folder name</b> </label><br>
                        <input type="text" maxlength="13" required id="namefolder" [(ngModel)]="reset" #nameFolder name="namefolder" />
                    </div>
                    <br>
                    <!--   <div *ngIf="ok" class="alert alert-success alert-dismissible" id="myAlert">
                        <strong>{{message}}</strong> 
                    </div> -->
                </div>

                <div class="modal-footer">
                    <button (click)="saveFolder(nameFolder.value)"  style="margin-right:10px;" class="btn btn-primary col-4">Save
                        Folder </button>
                    <button type="button" class="btn btn-danger" #closeModalCreateFolder data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="info" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Info</h4>
                    </div>
                    <div class="modal-body">
                            Repository: {{repoInfo?.repositoryName}} <br>
                           
                            Created At: {{repoInfo?.createdAt}} <br>
                        <div style="margin-bottom:5px;"> State: {{repoInfo?.publicR}} <br> </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
    
                </div>
            </div>
        </div>


<!-- Modal crea file -->
    <!-- <div class="modal fade" id="myModalFile" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create a new File</h4>
                </div>

                <div class="modal-body">

                    <div>
                        <label for="reponame"><b>File name</b> </label><br>
                        <input type="text" maxlength="13" required id="namerepo" #nameFile name="namerepo" />
                    </div>
                    <br>
                    
                </div>

                <div class="modal-footer">
                    <button (click)="saveFile(nameFile.value)" style="margin-right:10px;" class="btn btn-primary col-4">Save
                        File </button>
                    <button type="button" class="btn btn-danger" #closeModalCreateFile data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div> -->

    <!-- Modal share repository -->
    <div class="modal fade col-12" id="myModalShareRepo" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Share Repository </h4>
                </div>

                <div class="modal-body">

                    <div>
                        <label for="reponame"><b>Email:</b> </label><br>
                        <input type="email" required id="namerepo" [(ngModel)]="reset" #emailShare name="namerepo" />
                    </div>

                    <br>

                    <!--  <div *ngIf="ok" class="alert alert-success alert-dismissible" id="myAlert">
                        <strong>{{message}}</strong> 
                    </div> -->
                </div>

                <div class="modal-footer">
                    <button (click)="shareRepo(emailShare.value)" style="margin-right:10px;" class="btn btn-primary col-4">Share
                        Repo </button>
                    <button type="button" class="btn btn-danger" #closeModalShareRepo data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <br>


    <div *ngIf="folderExist==false && filesExist==false">
        Your repository is empty.<br> You can create a folder or a file, or import a file from your system.
    </div>



    <div class="row col-10">
        <br>

        <table>
            <thead>
                <tr>
                    <th width="20%">Name</th>
                    <th width="30%">Created At</th>
                </tr>
            </thead>

            <tbody>

                <tr *ngFor="let fold of folder;" (click)="sendTofolder(fold.id)">

                    <th scope="row">
                        <i class="material-icons">&#xe2c8; </i>
                        {{fold?.folderName}}
                    </th>
                    <th scope="row">{{fold?.createdAt}}</th>

                </tr>

                <tr *ngFor="let fil of files;" (click)="sendTofile(fil.id)">
                    <th scope="row">
                        <i class="fa">&#xf016; </i>
                        {{fil?.originalName}}
                    </th>
                    <th scope="row">{{fil?.createdAt}}</th>
                </tr>
                
            </tbody>




            <tbody *ngIf="fileincartelle">

                <tr *ngFor="let fil of allFileFolder;" (click)="sendTofile(fil.id)">
                    <th scope="row">
                        <i class="fa">&#xf016; </i>
                        {{fil?.originalName}}
                    </th>
                    <th scope="row">{{fil?.createdAt}}</th>
                </tr>

            </tbody>
        </table>

    </div>


</div>

<br>
<button (click)="back()" class="btn btn-primary">Back</button>