.hidden{
    display:none;
}
.show{
    display:block;
}

#modal-container {
    position:  fixed;
    top: 300px;
    left: 50%;
    width: 375px;
    background: white;
    margin-left: -187.5px;
    text-align: center;
    box-shadow: 0px 0px 2px 1px black;
    z-index: 100;
}

#overlay {
    position: absolute;
    top: 0px;
    left:  0px;
    z-index:  99;
    background:  rgba(0,0,0,0.8);
    width:  100%;
    height: 100%;
}
.right {margin-left:900%;

} 
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
 
  
input[type="file"] {
    display: none;
}
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 80%;
  }