

<div class="container">
   

    <div class="col-5" class="row">
        <div class="  col-md-6 offset-md-3">
            <h1>Repository</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    Repository: {{repoInfo?.repositoryName}} <br>
                    Created At: {{repoInfo?.createdAt}} <br>
                    <div style="margin-bottom:5px;"> State: {{repoInfo?.publicR}} <br> </div>
                    <button (click)="modifyRepo()" *ngIf="isLogged" type="button" data-toggle="modal" data-target="#myModalRepo" class="btn btn-primary">Modify Repository</button>
                      <br><br>
                </div>
            </div>

            <div *ngIf="appear" class="col-4">

                <div class="modal fade" id="myModalRepo" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Modify repository</h4>
                            </div>
        
                            <div class="modal-body">
                              
                                <div>
                                    <label for="reponame"><b>Repository name</b> </label><br>
                                    <input type="text" maxlength="13" required id="namerepo" #n name="namerepo"/>
                                </div>
        
                              
                            </div>
        
                                <div class="modal-footer">
                                    <button (click)="sendNewName(n.value)" style="margin-right:10px;" data-dismiss="modal" class="btn btn-primary col-4">Save
                                        Repository </button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row" *ngIf="isLogged">
        <div class="col-2">
                
            <button  class="btn btn-primary"  type="button" data-toggle="modal" data-target="#myModalFolder" style="margin-right:5px;">+ Create Folder</button>
        </div>

        <div class="col-2">
            <button  class="btn btn-primary" type="button" data-toggle="modal" data-target="#myModalFile"  style="margin-right:5px;">+ Create File</button>
        </div>
        <div class="col-2">
            <label for="file" class="btn btn-success" style="margin-right:5px;">Import File
                <input type="file" id="file" #f (change)="handleFileInput($event.target.files)">
            </label>
        </div>
        <div class="col-2">
            <button type="button" data-toggle="modal" data-target="#myModalShareRepo" class="btn btn-warning" style="margin-right:5px;">Share Repo</button>
        </div>
    </div>
    <hr>

        <div class="modal fade" id="myModalFolder" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Create a new Folder</h4>
                        </div>
    
                        <div class="modal-body">
                          
                            <div>
                                <label for="reponame"><b>Folder name</b> </label><br>
                                <input type="text" maxlength="13" required id="namefolder" #nameFolder name="namefolder"/>
                            </div>
    
                          
                        </div>
    
                            <div class="modal-footer">
                                <button (click)="saveFolder(nameFolder.value)" style="margin-right:10px;" data-dismiss="modal" class="btn btn-primary col-4">Save
                                    Folder </button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                       
                    </div>
                </div>
            </div>


        <div class="modal fade" id="myModalFile" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Modify File name</h4>
                        </div>
    
                        <div class="modal-body">
                          
                            <div>
                                <label for="reponame"><b>File name</b> </label><br>
                                <input type="text" maxlength="13" required id="namerepo" #nameFile name="namerepo"/>
                            </div>
                        </div>
    
                            <div class="modal-footer">
                                <button (click)="saveFile(nameFile.value)" style="margin-right:10px;" data-dismiss="modal" class="btn btn-primary col-4">Save
                                    File </button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                       
                    </div>
                </div>
            </div>

        <div class="modal fade col-12" id="myModalShareRepo" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Share Repository </h4>
                        </div>
    
                        <div class="modal-body">
                          
                            <div>
                                <label for="reponame"><b>Email:</b> </label><br>
                                <input type="email"  required id="namerepo" #emailShare name="namerepo"/>
                            </div>
                        </div>
    
                            <div class="modal-footer">
                                <button (click)="shareRepo(emailShare.value)" style="margin-right:10px;" data-dismiss="modal" class="btn btn-primary col-4">Share Repo </button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                    </div>
                </div>
            </div>
<br>

<div *ngIf="folderExist==false && filesExist==false">
Your repository is empty.<br> Click on "Create Folder" or "Create File" button, to create an element.
</div>

    <div *ngIf="folderExist==true || filesExist==true">
        <div class="row">
            Here you can search models contains in this repository.
        </div>

        <br>
        <div class="row">
            <select id="select" #select class="col-2" (change)="selected()">
                <option selected value="name">Name Model</option>
                <option value="date">Date Model</option>
            </select>

            <input type="text" [(ngModel)]="search" id="search" name="search" (input)="Search()" placeholder="Search..">
      </div>

        <br>

        Lista dei tuoi folder e files

        <table>
            <thead>
                <tr>
                    <th width="20%">Name</th>
                    <th width="30%">Created At</th>
                </tr>
            </thead>

            <tbody>

                <tr *ngFor="let fold of folder;" (click)="sendTofolder(fold.id)">

                    <th scope="row">
                        <i class="material-icons">&#xe2c8; </i>
                        {{fold?.folderName}}
                    </th>
                    <th scope="row">{{fold?.createdAt}}</th>

                </tr>

                <tr *ngFor="let fil of files;" (click)="sendTofile(fil.id)">
                    <th scope="row">
                        <i class="fa">&#xf016; </i>
                        {{fil?.originalName}}
                    </th>
                    <th scope="row">{{fil?.createdAt}}</th>
                </tr>
                </tbody>
                <tbody *ngIf="fileincartelle">
                
                <tr  *ngFor="let fil of allFileFolder;" (click)="sendTofile(fil.id)">
                    <th scope="row">
                        <i class="fa">&#xf016; </i>
                        {{fil?.originalName}}
                    </th>
                    <th scope="row">{{fil?.createdAt}}</th>
                </tr>
            
            </tbody>
        </table>
    </div>

</div>

<br>
<button (click)="back()" class="btn btn-primary">Back</button>
