<div class="container">
    <div class="row">
        <!--informazioni sulla folder-->
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    NameFolder: {{folderInfo?.folderName}} <br>
                    Created At: {{folderInfo?.createdAt}} <br>

                    <button (click)="modifyFolder()" class="btn btn-primary">Modify Folder</button>
                    <form *ngIf="appearRenameFolder">
                        <div class="card">
                            <div class="form-group" class="card-body">
                                <div>
                                    <label for="filename">New name: </label>
                                    <input type="text" required #n name="filename" />
                                </div>
                            </div>
                            <button (click)="sendNewFolderName(n.value)" class="btn btn-primary">Save folder</button>
                        </div>
                    </form>
                </div>
            </div>
            <!--   <button  (click)="deleteRepo()"  class="btn btn-primary">Delete Repository</button> -->
        </div>
    </div>

    <div class="row" *ngIf="fileExist">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        File: {{file.originalName}} <br>
                        Version n. : <select>

                            <option *ngFor="let v of versionArray; index as i">{{v}}</option>

                        </select> <br>

                        Created At: {{file.createdAt}} <br>
                        <button (click)="modifyFile()" class="btn btn-primary" style="margin-right:5px;">Modify file</button>
                        <!-- <button  (click)="deleteFile()"  class="btn btn-primary">Delete File</button>  -->
                        <button (click)="newVersion()" class="btn btn-primary">Create new version</button>
                        <form *ngIf="appear">
                            <div class="card">
                                <div class="form-group" class="card-body">
                                    <div>
                                        <label for="filename">New name: </label>
                                        <input type="text" required #n name="filename" />
                                    </div>
                                </div>
                                <button (click)="sendNewName(n.value)" class="btn btn-primary">Save repo</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dropdown">
        <ul class="dropdown-menu">
            <li *ngFor="let v of versionArray">
                <a href="#">{{v}}
                </a>
            </li>
        </ul>
    </div>

    <div class="row" *ngIf="!fileExist">
        <div class="col-10">

            <button (click)="createFile()" class="btn btn-primary">Create File</button>
            <form *ngIf="fileAppear">
                <div class="card">
                    <div class="form-group" class="card-body">
                        <div>
                            <label for="filename">File name</label>
                            <input type="text" required #n name="filename" />
                        </div>
                    </div>
                    <button (click)="saveFile(n.value)" class="btn btn-primary">Save File</button>
                </div>
            </form>
            
        </div>
    </div>








    <!-- <table>
                   

                    <tbody>
                        <tr>
                            <td colspan="5">
                                <div class="divinterno">
    
                                    <table class="table-int">
                                        <tr>
                                            <tr *ngFor="let item of repos">
                                                <td width="40%">{{item.repositoryName}}</td>
                                                <td width="10%" class="colFocused">{{item.id}}</td>
                                                <td width="10%" *ngIf="Arraybtn[2] != 'none'" class="colFocused">{{item.sex}}</td>
                                                <td width="10%" *ngIf="Arraybtn[3] != 'none'" class="colFocused">{{item.weight | number:"1.2-2"}} </td>
                                                <td width="10%" *ngIf="Arraybtn[4] != 'none'" class="colFocused">{{}} </td> 
                                            </tr>
                                    </table>
                                </div>
                            </td>
                            </tr>
                    </tbody>
    
                </table> -->

    <div>


        <!--     Caricamento di un file

    <div class="form-group">
        <label for="file">Choose File</label>
        <input type="file"
               id="file" #f
               (change)="handleFileInput($event.target.files)">
               <button  (click)="caricaFile()"  class="btn btn-primary">Carica File</button>
    </div> -->




        <!-- </div>Lista file pubblici
<table >
    <thead>
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{head}} </th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let el of elements">
        <th scope="row">{{el.id}}</th>
        <td>{{el.first}}</td>
        <td>{{el.last}}</td>
        <td>{{el.handle}}</td>
      </tr>
    </tbody>
  </table>
</div> -->

        <!-- 
<div>Lista file privati

</div> -->

    </div>




</div>