<div class="container">
    <button (click)="back()" style="border-radius: 20px; width: 80px;background-color: rgba(0, 128, 0, 0.63);"class="btn btn-success far">	&#xf359; Back</button>
                        
    <div class="row">
        <!--informazioni sulla folder-->
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    NameFolder: {{folderInfo?.folderName}} <br>
                    Created At: {{folderInfo?.createdAt}} <br>

                    <button (click)="modifyFolder()" class="btn btn-primary">Modify Folder</button>
                    <form *ngIf="appearRenameFolder">
                        <div class="card">
                            <div class="form-group" class="card-body">
                                <div>
                                    <label for="filename">New name: </label>
                                    <input type="text" required #n name="filename" />
                                </div>
                            </div>
                            <button (click)="sendNewFolderName(n.value)" class="btn btn-primary">Save folder</button>
                        </div>
                    </form>
                </div>
            </div>
            <!--   <button  (click)="deleteRepo()"  class="btn btn-primary">Delete Repository</button> -->
        </div>
    </div>

    <div class="row" *ngIf="fileExist">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        File: {{file.originalName}} <br>
                        Version n. : <select> 
                                <option disabled>Select a version...</option>
                            <option *ngFor="let v of versionArray; index as i">{{v}}</option>
                        </select> <br>

                        Created At: {{file.createdAt}} <br>
                        <button (click)="modifyFile()" class="btn btn-primary" style="margin-right:5px;">Modify file</button>
                        <!-- <button  (click)="deleteFile()"  class="btn btn-primary">Delete File</button>  -->
                        <button (click)="newVersion()" class="btn btn-primary">Create new version</button>
                        <form *ngIf="appearRenameFile">
                            <div class="card">
                                <div class="form-group" class="card-body">
                                    <div>
                                        <label for="filename">New name: </label>
                                        <input type="text" required #n name="filename" />
                                    </div>
                                </div>
                                <button (click)="sendNewFileName(n.value)" class="btn btn-primary">Save file</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="card">
                        <div class="card-body">
                            Move to...<select> 
                                    <option disabled>Select a folder..</option>
                                  <option>{{repo?.repositoryName}}</option>
                                <option *ngFor="let v of folders; index as i">{{v?.folderName}}</option>
                            </select> <br>
                        </div>
                    </div>

            </div>
        </div>
    </div>

    <div class="row" *ngIf="!fileExist">
        <div class="col-10">

            <button (click)="createFile()" class="btn btn-primary">Create File</button>
            <form *ngIf="fileAppear">
                <div class="card">
                    <div class="form-group" class="card-body">
                        <div>
                            <label for="filename">File name</label>
                            <input type="text" required #n name="filename" />
                        </div>
                    </div>
                    <button (click)="saveFile(n.value)" class="btn btn-primary">Save File</button>
                </div>
            </form>

        </div>
    </div>


<div>


             Caricamento di un file

    <div class="form-group">
        <label for="file">Choose File</label>
        <input type="file"
               id="file" #f
               (change)="handleFileInput($event.target.files)">
               <button  (click)="uploadFileToActivity()"  class="btn btn-primary">Carica File</button>
    </div> 




        <!-- </div>Lista file pubblici
<table >
    <thead>
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{head}} </th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let el of elements">
        <th scope="row">{{el.id}}</th>
        <td>{{el.first}}</td>
        <td>{{el.last}}</td>
        <td>{{el.handle}}</td>
      </tr>
    </tbody>
  </table>
</div> -->

        <!-- 
<div>Lista file privati

</div> -->
    </div>
</div>