

<!-- <div class="modal fade " id="grafo" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">GRAFO</h4>
        </div>
        <div class="modal-body">
  
<ngx-cytoscape >
 <div  id="cy">

 </div>
  </ngx-cytoscape> 
  <ngx-cytoscape >
      <div  id="cz">
     
      </div>
       </ngx-cytoscape> 
        </div>
        
        <div class="modal-footer">
         
          <button type="button" class="btn btn-danger" data-dismiss="modal">BACK</button>
  
    
        </div>
  
      </div>
    </div>
  </div> -->
<div class="modal fade " id="anteprimaChor" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content chor">
      <div class="modal-header">
        <h4 class="modal-title">Choreography</h4>
      </div>
      <div class="modal-body">

        <!-- <div #canvas style="background-color:white" id="canvas"></div> -->
        <app-diagram-chor [xml]="diagramUrlChor" ></app-diagram-chor>


        <br>
        <div class="row" style="right:40%">
          {{nomeFile2}}
        </div>
      </div>
      
      <div class="modal-footer">
        <button class="btn btn-danger"  #btn2 value="accept" (click)="choose2(btn2.value)"  style="left: 50%">ACCEPT</button>
        &nbsp;
        <button type="button" class="btn btn-danger" value="refuse" #btn1 (click)="choose2(btn1.value)">REFUSE</button>

     <!--    <button class="btn btn-info" #closeModal1 value="refuse" (click)="choose(closeModal1.value)" data-dismiss="modal" >REFUSE</button>
 -->
      </div>

    </div>
  </div>
</div>




<div class="modal fade" id="anteprimaColla" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Collaboration</h4>
      </div>
      <div class="modal-body">

        <!-- <div #canvas style="background-color:white" id="canvas"></div> -->
        <app-diagram  [xml]="diagramUrl"></app-diagram>


        <br>
        <div class="row" style="right:40%">
          {{nomeFile}}
        </div>
      </div>
     
      <div class="modal-footer">
        <button class="btn btn-danger"  #btn2 value="accept" (click)="choose(btn2.value)"  style="left: 50%">ACCEPT</button>
        &nbsp;
        <button type="button" class="btn btn-danger" value="refuse" #btn1 (click)="choose(btn1.value)"  >REFUSE</button>

      </div>

    </div>
  </div>
</div>

<div *ngIf="diagram==false" >
  <div class="row">

    <div class="col-6" style="height: 400px;border:1px solid rgb(172, 170, 170)">
      <div class="col-12" style="left: 15%">
        <h2>
          <b>Select a Collaboration Model</b>
          <br><br>
        </h2>
      </div>

      <div class="col-12" style="left: 26%" >
        <a>
          <img style="border-radius:600px;zoom:28%;border:5px solid red"
            src="https://i.ibb.co/dWFDmMc/Booking-System-Collaborationsimplified-XE.png"></a>
        <br><br><br>
        <label>
          <button  data-toggle="modal" (click)="getAllRepos()"  data-target="#ChooseRepo">Import file from Repository</button><br><b>{{fileSelezionato}}</b>
        </label>
      </div>
    </div>

    <div class="col-6" style="height: 400px;border:1px solid rgb(172, 170, 170)">
      <div class="col-12" style="left: 15%">
        <h2>
          <b>Select a Choreography Model</b>
          <br><br>
        </h2>
      </div>

      <div class="col-12" style="left: 30%" >
        <a>
          <img
            style="border-radius:600px;zoom:45%;position:center;right:40%;border:3px solid black;background-color:rgb(70, 70, 167)"
            src="https://i.ibb.co/LSN8dTp/Booking-system-simplified-OR.png">
        </a>
        <br>
        <br>
        <br>

          <label>
              <button data-toggle="modal" (click)="getAllReposChor()"  data-target="#ChooseRepo">Import file from Repository</button><br><b>{{fileSelezionatoChor}}</b>
            </label>
      </div>

   
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-5"></div>
    <div class="col-5">
      <button id="check" (click)="CheckEquivalence()" style="zoom:140%;background-color: brown;border:2px solid brown"
        class="btn btn-primary">Submit</button>
    </div>
  </div>
</div>


<br>
<div *ngIf="diagram==false">
<div *ngIf="collaboration!= '' ">
    <hr>
  <div class="row">
    <h3>Checking Files</h3>
  </div>

  <br>
  <br>
  <div class="row">
    <div class="col-5">
      Collaboration:
      <input class="form-control" type="text" placeholder={{collaboration}} readonly>
    </div>
    <div class="col-5">
      <br>
      <button id="check" (click)="downloadColl()" class="btn btn-primary">Download</button>
      <button id="check" (click)="showDataColl()"  class="btn btn-success">Search</button>
    </div>
    <br>
  </div>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-5">
      Choreography:
      <input class="form-control" type="text" placeholder={{choreography}} readonly>
    </div>
    <div class="col-5">
      <br>
      <button id="check" (click)="downloadChor()" class="btn btn-primary">Download</button>
      <button id="check1" (click)="ShowDataChor()"  class="btn btn-success">Search</button>
    </div>
    <br>
  </div>
  <br>
  <br>
<div  class="row">
  <div class="col-2">
  <input type="checkbox" [(ngModel)]="theCheckbox">Weak<br>
</div>
<div class="col-5">
  <select #opt (change)="($event)">
    <option value="Trace" selected>Trace</option>
    <option value="Branching">Branching</option>
    <option value="Bisimulation">Bisimulation</option>
  </select>
</div>
</div>
  <br>
  <br>
  <button id="check" (click)="checkAut(opt.value,theCheckbox)" class="btn btn-primary">Check</button>



</div>
<div *ngIf="checked == true">
    <br>
    <hr>
    <br>
  <b><h3>Simulation Done</h3></b>
  <br>
  <div>
    <h4>Result: {{state}}</h4>
<br>
  </div>
  <div class="col-9">
    counterExample
    <br>
    <input class="form-control" type="text" placeholder={{counterExample}} readonly>
  </div>
</div>
</div>
 <div class="modal fade" id="ChooseRepo" role="dialog">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Choose File to Import</h4>
          </div>
          <div *ngIf="controllocollaboration==true"class="modal-body">
            <!-- REPOSITORY -->
            
            <div *ngIf="controlloRepo==true">
                <div class="row" style="margin-left:10px">
                  REPOSITORY
                </div>
                <div  class="row" style="margin-left:10px">

                <div class="card2 col-2 display" *ngFor="let repo of repos; let i=index;" (click)="AllRepoInfo(repo.id)" >
                  <h4 class="card2Write" style="cursor:pointer;">
                      <b>{{repo?.repositoryName}}</b> </h4>
                </div>
              </div>
            </div>
          <!-- FOLDER E FILE -->
          <div *ngIf="controlloFoldandFile==true">
              <div class="row"style="margin-left:10px">FOLDER</div>

          <div  class="row" style="margin-left:10px">
            <div class="card2 col-2 display" *ngFor="let fold of allFolder; let i=index;" (click)="AllFolderInfo(fold.id)" >
                <h4 class="card2Write" style="cursor:pointer;">
                    <b>{{fold?.folderName}}</b>
                </h4>
            </div>
            <div *ngIf="allFolder==0"><br>
              No Folder inside this Repository</div>
          </div>
          <br>
          <hr>
          <br>
          <div class="row" style="margin-left:10px">FILE</div>
            <div class="row" style="margin-left:10px">
               
                <br>
                <br>
              <div class="card2 col-2 display" *ngFor="let file of allFileColl; let i=index;" (click)="chooseVers(file.id)"  >
                  <h4 class="card2Write" style="cursor:pointer;">
                      <b>{{file?.originalName}}</b> </h4>
              </div>
              <div *ngIf="allFileColl==0"><br>No File inside this Repository</div>
      
          </div>
        </div>
        <!-- SOLO FILES DENTRO A FOLDER CLICCATA -->
        <div *ngIf="controlloFile==true" class="row">
          <div class="card2 col-2 display" *ngFor="let file of allFileFoldColl; let i=index;" (click)="chooseVers(file.id)"  >
              <h4 class="card2Write" style="cursor:pointer;">
                  <b>{{file?.originalName}}</b> </h4>
          </div>
          <div *ngIf="allFileFoldColl==0"><br>No File inside this Repository</div>
      </div>

      <div *ngIf="controlloVers==true">
          <div class="row"style="margin-left:10px">VERSION</div>
          <br>
          <div  class="row" style="margin-left:10px">
          <div class="card2 col-2 display" *ngFor="let vers of finalVersion; let i=index;" (click)="anteprimaFile(vers)" >
            <h4 class="card2Write" style="cursor:pointer;">
              <b>V.{{vers}}</b>
            </h4>
          </div>
        </div>
      </div>

      
<div *ngIf="vers.fileType=='collaboration'&& controlloAnteprima==true">
  <br>
  <hr>
  <br>
  <div class="row"style="margin-left:5px">Preview of {{vers.originalName}} model <br>
    version n.{{versione}}
  </div>
  <br><br>
    <app-diagram [url]="diagramUrlA" ></app-diagram>
</div>
<br>

<div *ngIf="vers.fileType=='choreography'&& controlloAnteprima==true">
  <hr><br>
    <div class="row"style="margin-left:5px">Preview of {{vers.originalName}} model <br>
      version n.{{versione}}
    </div><br><br>
    <app-diagram-chor [url]="diagramUrlChorA" ></app-diagram-chor>
</div>

 
          </div>
          <div *ngIf="controllocollaboration==false"class="modal-body">
            <!-- REPOSITORY -->
            
            <div *ngIf="controlloRepo==true">
                <div class="row" style="margin-left:10px">
                  REPOSITORY
                </div>
                <div  class="row" style="margin-left:10px">

                <div class="card2 col-2 display" *ngFor="let repo of repos; let i=index;" (click)="AllRepoInfo(repo.id)" >
                  <h4 class="card2Write" style="cursor:pointer;">
                      <b>{{repo?.repositoryName}}</b> </h4>
                </div>
              </div>
            </div>
          <!-- FOLDER E FILE -->
          <div *ngIf="controlloFoldandFile==true">
              <div class="row"style="margin-left:10px">FOLDER</div>

          <div  class="row" style="margin-left:10px">
            <div class="card2 col-2 display" *ngFor="let fold of allFolder; let i=index;" (click)="AllFolderInfo(fold.id)" >
                <h4 class="card2Write" style="cursor:pointer;">
                    <b>{{fold?.folderName}}</b>
                </h4>
            </div>
            <div *ngIf="allFolder==0"><br>
              No Folder inside this Repository</div>
          </div>
          <br>
          <hr>
          <br>
          <div class="row" style="margin-left:10px">FILE</div>
            <div class="row" style="margin-left:10px">
               
                <br>
                <br>
              <div class="card2 col-2 display" *ngFor="let file of allFileChor; let i=index;" (click)="chooseVers(file.id)"  >
                  <h4 class="card2Write" style="cursor:pointer;">
                      <b>{{file?.originalName}}</b> </h4>
              </div>
              <div *ngIf="allFile==0"><br>No Folder inside this Repository</div>
      
          </div>
        </div>
        <!-- SOLO FILES DENTRO A FOLDER CLICCATA -->
        <div *ngIf="controlloFile==true" class="row">
          <div class="card2 col-2 display" *ngFor="let file of allFileFoldChor; let i=index;" (click)="chooseVers(file.id)"  >
              <h4 class="card2Write" style="cursor:pointer;">
                  <b>{{file?.originalName}}</b> </h4>
          </div>
      </div>

      <div *ngIf="controlloVers==true">
          <div class="row"style="margin-left:10px">VERSION</div>
          <br>
          <div  class="row" style="margin-left:10px">
          <div class="card2 col-2 display" *ngFor="let vers of finalVersion; let i=index;" (click)="anteprimaFile(vers)" >
            <h4 class="card2Write" style="cursor:pointer;">
              <b>V.{{vers}}</b>
            </h4>
          </div>
        </div>
      </div>

      
<div *ngIf="vers.fileType=='collaboration'&& controlloAnteprima==true">
  <br>
  <hr>
  <br>
  <div class="row"style="margin-left:5px">Preview of {{vers.originalName}} model <br>
    version n.{{versione}}
  </div>
  <br><br>
    <app-diagram [url]="diagramUrlA" ></app-diagram>
</div>
<br>

<div *ngIf="vers.fileType=='choreography'&& controlloAnteprima==true">
  <hr><br>
    <div class="row"style="margin-left:5px">Preview of {{vers.originalName}} model <br>
      version n.{{versione}}
    </div><br><br>
    <app-diagram-chor [url]="diagramUrlChorA" ></app-diagram-chor>
</div>

 
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-danger" *ngIf="controlloRepo==false" (click)="back()" >Back</button>
              <button *ngIf="controlloAnteprima==true" (click)="acceptFile()"type="button" data-dismiss="modal" class="btn btn-danger" >Accept</button>
              <button type="button" class="btn btn-danger"(click)="controlloModal()" data-dismiss="modal">Close</button>
          </div> 

      </div>
  </div>
</div> 
<div *ngIf="diagram==true">
 <ngx-cytoscape  ></ngx-cytoscape> 
 <button type="button" class="btn btn-danger" (click)="paginaPrima()">Close</button>
</div>