


<div class="modal fade " id="anteprimaChor" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content chor">
      <div class="modal-header">
        <h4 class="modal-title">Choreography</h4>
      </div>
      <div class="modal-body">

        <!-- <div #canvas style="background-color:white" id="canvas"></div> -->
        <app-diagram-chor [xml]="diagramUrlChor" ></app-diagram-chor>


        <br>
        <div class="row" style="right:40%">
          {{nomeFile2}}
        </div>
      </div>
      
      <div class="modal-footer">
        <button class="btn btn-danger"  #btn2 value="accept" (click)="choose2(btn2.value)"  style="left: 50%">ACCEPT</button>
        &nbsp;
        <button type="button" class="btn btn-danger" value="refuse" #btn1 (click)="choose2(btn1.value)">REFUSE</button>

     <!--    <button class="btn btn-info" #closeModal1 value="refuse" (click)="choose(closeModal1.value)" data-dismiss="modal" >REFUSE</button>
 -->
      </div>

    </div>
  </div>
</div>




<div class="modal fade" id="anteprimaColla" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Collaboration</h4>
      </div>
      <div class="modal-body">

        <!-- <div #canvas style="background-color:white" id="canvas"></div> -->
        <app-diagram  [xml]="diagramUrl"></app-diagram>


        <br>
        <div class="row" style="right:40%">
          {{nomeFile}}
        </div>
      </div>
     
      <div class="modal-footer">
        <button class="btn btn-danger"  #btn2 value="accept" (click)="choose(btn2.value)"  style="left: 50%">ACCEPT</button>
        &nbsp;
        <button type="button" class="btn btn-danger" value="refuse" #btn1 (click)="choose(btn1.value)"  >REFUSE</button>

     <!--    <button class="btn btn-info" #closeModal1 value="refuse" (click)="choose(closeModal1.value)" data-dismiss="modal" >REFUSE</button>
 -->
      </div>

    </div>
  </div>
</div>


<div  >
  <div class="row">

    <div class="col-6" style="height: 400px;border:1px solid rgb(172, 170, 170)">
      <div class="col-12" style="left: 15%">
        <h2>
          <b>Select a Collaboration Model</b>
          <br><br>
        </h2>
      </div>

      <div class="col-12" style="left: 26%" >
        <a>
          <img style="border-radius:600px;zoom:28%;border:5px solid red"
            src="https://i.ibb.co/dWFDmMc/Booking-System-Collaborationsimplified-XE.png"></a>
        <br><br><br>

        <label  for="file">
          <input  type="file" #file id="file" data-toggle="modal" data-target=""
            (change)="handleFileInput1($event.target.files)">
            
           
        </label>
        <br>
        <label>
          or 
          <br>
          <button data-toggle="modal" (click)="getAllRepos()"  data-target="#RepoFilePath">Import file from Repository</button>
        </label>
        






      
      </div>
      
    </div>

    <div class="col-6" style="height: 400px;border:1px solid rgb(172, 170, 170)">
      <div class="col-12" style="left: 15%">
        <h2>
          <b>Select a Choreography Model</b>
          <br><br>
        </h2>
      </div>

      <div class="col-2" style="left: 30%" >
        <a>
          <img
            style="border-radius:600px;zoom:45%;position:center;right:40%;border:3px solid black;background-color:rgb(70, 70, 167)"
            src="https://i.ibb.co/LSN8dTp/Booking-system-simplified-OR.png">
        </a>
        <br>
        <br>
        <br>

       
          <label for="file1">
            <input  data-toggle="modal" data-target="" #file1 type="file" id="file1" (change)="handleFileInput2($event.target.files)">
           
          </label>
          
      </div>

   
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-5"></div>
    <div class="col-3">
      <button id="check" (click)="CheckEquivalence()" style="zoom:140%;background-color: brown;border:2px solid brown"
        class="btn btn-primary">Submit</button>
    </div>
  </div>
</div>





<br>
<div *ngIf="collaboration!= '' ">
    <hr>
  <!-- <div *ngIf="checked==true"> -->
  <div class="row">
   
 
    <h3>Checking Files</h3>
  </div>

  <br>
  <br>
  <div class="row">
    <div class="col-5">
      Collaboration:
      <input class="form-control" type="text" placeholder={{collaboration}} readonly>
    </div>
    <div class="col-5">
      <br>
      <button id="check" (click)="downloadColl()" class="btn btn-primary">Download</button>
      <button id="check" (click)="showDataColl()" class="btn btn-success">Search</button>
    </div>
    <br>
  </div>
  <br>
  <br>
  <br>

  <div class="row">
    <div class="col-5">
      Choreography:
      <input class="form-control" type="text" placeholder={{choreography}} readonly>
    </div>
    <div class="col-5">
      <br>
      <button id="check" (click)="downloadChor()" class="btn btn-primary">Download</button>
      <button id="check" (click)="ShowDataChor()" class="btn btn-success">Search</button>
    </div>
    <br>
  </div>
  <br>
  <br>

  <input type="checkbox" [(ngModel)]="theCheckbox">Weak<br>
  <!-- {{theCheckbox}} -->
  <br>
  <br>
  <select #opt (change)="($event)">
    <option value="Trace" selected>Trace</option>
    <option value="Branching">Branching</option>
    <option value="Bisimulation">Bisimulation</option>
  </select>
  <br>
  <br>
  <button id="check" (click)="checkAut(opt.value,theCheckbox)" class="btn btn-primary">Check</button>



</div>
<div *ngIf="checked == true">
    <br>
    <hr>
    <br>
  <b><h3>Simulation Done</h3></b>
  <br>
  <div>
    <h4>Result: {{state}}</h4>
<br>
  </div>
  <div class="col-9">
    counterExample
    <br>
    <input class="form-control" type="text" placeholder={{counterExample}} readonly>
  </div>

  
</div>
<div *ngIf="enabledgraph==true" class="cytograph">
    <ngx-cytoscape [elements]="result" ></ngx-cytoscape>  

</div>



<div class="modal fade" id="RepoFilePath" role="dialog">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Choose File to Import</h4>
          </div>
          <div class="modal-body">
             
              <div class="container">
    
                  <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      Choose Repository <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                     <li  *ngFor="let a of repos">   <!-- REPOSITORY LEVEL -->
                        <button class="btn btn-default" id="repostate"  (mouseenter)= "AllRepoInfo(a.id)" ><a>{{a.repositoryName}} &raquo;</a></button>
                    
                        <ul class="sub-menu dropdown-menu">
              
                          <li  *ngFor="let b of allFolder"> <!-- FOLDER LEVEL  SE PRESENTE-->
                            <button class="btn btn-default" id="folderstate"  (mouseenter)= "AllFolderInfo(b.id)" ><a>{{b.folderName}} &raquo;</a></button>
                    
                            <ul class="sub-menu dropdown-menu">
                              <li>
                                <a>Third Level &raquo;</a> <!-- FILE LEVEL -->
                                <ul class="sub-menu dropdown-menu">
                                  <li>
                                    <a>4th Level</a>
                                  </li>
                                </ul>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    <!--   <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a></li> -->
                    </ul>
                  </div>
                </div>





          </div>
         
          <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>

      </div>
  </div>
</div>




    <!-- <div class="navbar-header">

      <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>
  
  
    <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
    
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" ng-controller="DropdownCtrl">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">Sub menu &raquo;</a>
              <ul class="sub-menu dropdown-menu">
                <li>
                  <a>Second Level &raquo;</a>
                  <ul class="sub-menu dropdown-menu">
                    <li>
                      <a>Third Level &raquo;</a>
                      <ul class="sub-menu dropdown-menu">
                        <li>
                          <a>4th Level</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
        
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav> -->
  
 