.modal-content{
    width: 200%;
  
}


 ngx-cytoscape {
    height: 50vh;
    float: left;
    position: relative;
    border: solid #21c0c0;
    width: 50em;
  } 


 /*  .dropdown-menu .sub-menu {
        left: 100%;
        position: absolute;
        top: 0;
        visibility: hidden;
        margin-top: -1px;
    }
    
    .dropdown-menu li:hover > .sub-menu {
        visibility: visible;
        display: block;
    } */
