<div class="container">
    
        <div class="card">
            <div class="card-body">
                <h3>Folder Details</h3>
                Folder name : {{folderInfo?.folderName}} <br>
                Created At : {{folderInfo?.createdAt}}
                <br>
                <button  *ngIf="isLogged"  type="button" data-toggle="modal" data-target="#myModalFolder" class="btn btn-primary">Modify Folder</button>
       
            </div>
        </div>

        <div class="modal fade" id="myModalFolder" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Modify folder name</h4>
                        </div>
                        <div class="modal-body">
                            <div>
                                <label for="reponame"><b>Folder name</b> </label><br>
                                <input type="text" maxlength="13" required id="namefolder" #nameFolder name="namefolder"/>
                            </div>
                        </div>
                            <div class="modal-footer">
                                <button (click)="sendNewNameFolder(nameFolder.value)" style="margin-right:10px;" data-dismiss="modal" class="btn btn-primary col-4">Save
                                    Folder </button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                    </div>
                </div>
            </div>
 

    <div class="row">
        <div class="col-2">
            
            <button  type="button" data-toggle="modal" data-target="#myModalFile"  *ngIf="isLogged || isLogged==undefined" class="btn btn-primary">+ Create File</button>
        </div>

        <div class="col-2" *ngIf="isLogged || isLogged==undefined">

            <label for="file" class="btn btn-success" >
                Import File
                <input type="file"  id="file" #f (change)="handleFileInput($event.target.files)">
            </label>
        </div>

    </div>
    <hr>



 <div class="modal fade" id="myModalFile" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create a new File</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <label for="reponame"><b>File name</b> </label><br>
                        <input type="text" maxlength="13" required id="nameFile" #nameFile name="nameFile"/>
                    </div>
                </div>
                    <div class="modal-footer">
                        <button (click)="saveFile(nameFile.value)" style="margin-right:10px;" data-dismiss="modal" class="btn btn-primary col-4">Save
                            File </button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
            </div>
        </div>
    </div>


    <div *ngIf="exist==true" style="margin:5px">Lista dei tuoi folder e files
        <table>
            <thead>
                <tr>
                    <th width="20%">Name</th>
                    <th width="30%">Created At</th>
                </tr>
            </thead>
            <tbody>


                <tr *ngFor="let fil of files;" (click)="sendTofile(fil.id)">
                    <th scope="row">
                        <i class="fa">&#xf016; </i>
                        {{fil?.originalName}}
                    </th>
                    <th scope="row">{{fil?.createdAt}}</th>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="!exist">Your Folder is empty!<br> You can create or import a file.</div>
</div>

<br>
<button (click)="back()" class="btn btn-primary">Back</button>