


<div>
    <h4>list of public repositories</h4>
    <table>
        <thead>
            <tr>
                <th width="40%">Name</th>
                <th width="30%">Created At</th>
                <th width="30%">Author</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let repoPublic of reposPublic; let i=index;" (click)="sendToPublic(repoPublic.id)" >
                <th scope="row">{{repoPublic?.repositoryName}}</th>
                <th scope="row">{{repoPublic?.createdAt}}</th>
                <th scope="row">{{repoPublic?.autore}}</th>
           </tr>
        </tbody>
    </table>
</div> 
