<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="">
                <b>
                    <img src="assets/images/logo-icon.png"  style="zoom:20%;margin-left:20%" alt="homepage" class="dark-logo" />
                </b>
                <span>
                    <img src="assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                </span>
            </a>
        </div>
        <div class="navbar-collapse">
            <ul class="navbar-nav mr-auto mt-md-0 ">
                <li class="nav-item"> <a class="nav-link nav-toggler hidden-lg-up text-muted waves-effect waves-dark"
                        href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
            </ul>
            <!-- ============================================================== -->
            <!--  search -->
            <!-- ============================================================== -->

            <!-- ============================================================== -->
            <!-- USER PROFILE -->
            <!-- ============================================================== -->
            <ul class="navbar-nav my-lg-0">

                <li *ngIf="isLogged" class="nav-item dropdown" else loggedOut>
                    <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><img src="assets/images/users/1.png" alt="user"
                            class="profile-pic" /></a>
                    <!-- <div class="dropdown-menu dropdown-menu-right animated flipInY">
                        <ul class="dropdown-user">
                            <li>
                                <div class="dw-user-box">
                                    <div class="u-img"><img src="assets/images/users/1.png" alt="user"></div>
                                    <div class="u-text">
                                        <h4>{{name}} {{surname}}</h4>
                                        <p class="text-muted">{{email}}</p><a href="profile.html" class="btn btn-rounded btn-danger btn-sm">View
                                            Profile</a>
                                    </div>
                                </div>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a><i class="ti-user"></i> My Profile</a></li>
                            <li><a><i class="ti-wallet"></i> My Balance</a></li>
                            <li><a><i class="ti-email"></i> Inbox</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#"><i class="ti-settings"></i> Account Setting</a></li>
                            <li role="separator" class="divider"></li>
                        </ul>
                    </div> -->
                </li>

                <li *ngIf="!isLogged" #loggedOut class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><img src="assets/images/users/0.png" alt="user"
                            class="profile-pic" /></a>
                    <div class="dropdown-menu dropdown-menu-right animated flipInY">
                        <ul class="dropdown-user">
                            <li><a routerLink="/login"><i class=""></i> Login</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a routerLink="/signUp"><i class=""></i> SignUp</a></li>
                        </ul>
                    </div>
                </li>

            </ul>
        </div>
    </nav>
</header>