<div class="row">
    <button class="btn btn-default numero2" (click)="sendTofile()">
        <h3>{{title}}</h3>
    </button>
    <div>
        <i class='fas fa-greater-than' style="margin-top:100%;margin-left: 30%;margin-top:9px;"></i>
    </div>
    <h3 style="margin-left: 1%">Collaboration Editor </h3>
    <div data-toggle="modal" id="infoButton" data-target="">
        <button style="background-color: transparent;border:transparent" (click)="infoFunction()">
            <i style="font-size:24px;" class="fa">&#xf05a;</i>
        </button>
    </div>
    <br>
    <div class="col-12">
        <button (click)="exportModel()" data-dismiss="modal" class="btn btn-success">Export Model <i
                class="fa">&#xf019;</i> </button>
        <button (click)="openModal()" *ngIf="isLogged" style="margin-left: 1%" data-toggle="modal" id="saveModal"
            data-target="" class="btn btn-primary">Save <i class="fa fa-save"></i></button>
        <button (click)="CheckSoundnessAndSafeness()" style="margin-left: 1%" data-toggle="modal" id="validation"
            #validation data-target="" class="col-1 btn btn-danger">Verify </button>
        <!--   <button (click)="callToSecondServer()" style="margin-left: 1%" data-toggle="modal" id="valModal" data-target=""
            class="col-1 btn btn-danger">Validity </button>
-->
    </div>

</div>
<br>

<div #modeler class="modeler">
    <div #canvas style="background-color:white" id="canvas"></div>
    <div id="properties">
    </div>
</div>


<button (click)="back()" class="btn btn-info">Back</button>

<!-- Modal crea file -->
<div class="modal fade" id="myModalFile" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create a new File</h4>
            </div>

            <div class="modal-body">

                <div>
                    <label for="reponame"><b>File name</b> </label><br>
                    <input type="text" maxlength="13" required id="namerepo" #nameFile name="namerepo" />
                </div>
                <br>

            </div>

            <div class="modal-footer">
                <button (click)="save(nameFile.value)" style="margin-right:10px;" data-dismiss="modal"
                    class="btn btn-primary col-4">Save
                    File </button>

                <button type="button" class="btn btn-danger" #closeModalCreateFile data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!--modal validity model-->
<div class="modal fade" id="validityModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Verification of your model</h4>
            </div>

            <div class="modal-body">
                Your model is valid.
                <br>

                <div style="height:20%">
                    <h5>Soundness: </h5>

                    <img style="zoom:9%;margin-right:1%" id="imageSoundness" src="" alt="">
                    {{messageSoundness}}
                    <hr>
                    <br>

                    <h5>Safeness </h5>
                    <img style="zoom:9%" id="imageSafeness" src="" alt="">
                    {{messageSafeness}}
                </div>

                <!-- 
                <div *ngIf="error!=null">Error 500</div>
                    <label>Soundness:</label> {{soundness}}
                    <label>Safeness:</label> {{safeness}}
              </div> -->

            </div>
            <div class="modal-footer">
                    <h6><strong>Info:</strong> these are information regarding current Model</h6>
                <button type="button" class="btn btn-danger" (click)="close()" #closeModalCreateFile
                    data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="info" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Information of your model</h4> 
    
            </div>
              
            <div class="modal-body">

                
                
                <div *ngIf="validity==false && idFile!=undefined">
                        <h5>Validity: </h5>
                        Your model is invalid
                        <br>
                </div>
                <div *ngIf="validity==true && idFile!=undefined">
                        <h5>Validity: </h5>
                        Your model is valid
                        <br>
                      
                        <div style="height:20%">
                                <br>
                                <h5>Soundness: </h5>
            
                                <img style="zoom:9%;margin-right:1%" id="infoimageSoundness" src="" alt="">
                                {{infoMsgS}}
                                <hr>
                                <br>
            
                                <h5>Safeness: </h5>
                                <img style="zoom:9%" id="infoimageSafeness" src="" alt="">
                                {{infomessageSafeness}}
                            </div>
                    </div>
               <div *ngIf="idFile==undefined">
                   {{infoMsgS}}
               </div>
               
                <br>

               

                <!-- 
                <div *ngIf="error!=null">Error 500</div>
                    <label>Soundness:</label> {{soundness}}
                    <label>Safeness:</label> {{safeness}}
              </div> -->
            </div>
            <div class="modal-footer">
                <h6><strong>Info:</strong> these are information regarding saved model</h6>
                <button type="button" class="btn btn-danger" (click)="close()" #closeModalCreateFile
                    data-dismiss="modal">Close</button>
            </div>


        </div>
    </div>
</div>