
<div class="row">
    <h3>
        {{file?.originalName}} Editor
    </h3>
    <div style="">
        <button (click)="exportModel()"  data-dismiss="modal" class="btn btn-success">Export Model <i class="fa">&#xf019;</i> </button>
         <button (click)="openModal()" data-toggle="modal" id="saveModal" data-target="" class="btn btn-primary">Save <i class="fa fa-save"></i></button>
    <button (click)="CheckValidity()" data-toggle="modal" id="valModal" data-target="" class="btn btn-danger">Validity <i class="fa fa-shield"></i></button>
         <div>
            Soundness:  <img style="zoom:10%" id="imageSoundness" src="" alt="">
            Safeness:  <img style="zoom:10%" id="imageSafeness" src="" alt=""></div>
         </div>
           
</div>
<br>

<div #modeler class="modeler">
  <div #canvas style="background-color:white"id="canvas"></div>
  <div id="properties">
  </div>
 

</div>

<button (click)="back()" class="btn btn-info">Back</button>


<!-- Modal crea file -->
  <div class="modal fade" id="myModalFile" role="dialog">
      <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create a new File</h4>
                </div>

                <div class="modal-body">

                    <div>
                        <label for="reponame"><b>File name</b> </label><br>
                        <input type="text" maxlength="13" required id="namerepo" #nameFile name="namerepo" />
                    </div>
                    <br>
                    
                </div>

                <div class="modal-footer">
                    <button (click)="save(nameFile.value)" style="margin-right:10px;" data-dismiss="modal" class="btn btn-primary col-4">Save
                        File </button>
                        
                    <button type="button" class="btn btn-danger" #closeModalCreateFile data-dismiss="modal">Close</button>
                </div>

            </div>
      </div>
  </div>

  <!--modal validity model-->
<!--   <div class="modal fade" id="validityModal" role="dialog">
    <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Validity of your modal</h4>
              </div>

              <div class="modal-body">

                <div *ngIf="error!=null">Error 500</div>
                    <label>Soundness:</label> {{soundness}}
                    <label>Safeness:</label> {{safeness}}
              </div>

              <div class="modal-footer">
                  <button type="button" class="btn btn-danger" #closeModalCreateFile data-dismiss="modal">Close</button>
              </div>

          </div>
    </div>
</div> -->