
<div class="row">
    <h3>
        {{title}}
      </h3>
      <div style="margin-left:30%">
        <button (click)="exportModel()"  data-dismiss="modal" class="btn btn-success">Export Model <i class="fa">&#xf019;</i> </button>
        <button  (click)="openModal()" data-toggle="modal" id="saveModal" data-target="" class="btn btn-primary">Save <i class="fa fa-save"></i></button>
      </div>
      </div>
<br>


<div #modeler class="modeler">
  <div #canvas style="background-color:white"id="canvas"></div>
  <div id="properties"></div>
</div>


<!-- Modal crea file -->
  <div class="modal fade" id="myModalFile" role="dialog">
      <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create a new File</h4>
                </div>

                <div class="modal-body">

                    <div>
                        <label for="reponame"><b>File name</b> </label><br>
                        <input type="text" maxlength="13" required id="namerepo" #nameFile name="namerepo" />
                    </div>
                    <br>
                    
                </div>

                <div class="modal-footer">
                    <button (click)="save(nameFile.value)" style="margin-right:10px;" data-dismiss="modal" class="btn btn-primary col-4">Save
                        File </button>
                        
                    <button type="button" class="btn btn-danger" #closeModalCreateFile data-dismiss="modal">Close</button>
                </div>

            </div>
      </div>
  </div>