#properties {
  position: absolute;
  top: 10%;
  bottom: 0;
  right: 0;
  width: 260px;
  z-index: 10;
/*   border-left: 1px solid #ccc;
 */  overflow: auto;
}
.label{
  color:black;
}
#canvas{

}

#modeler{
}